html{
    margin: 0;
    padding: 0;
    font-size: lem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    header {
        background-color: rgb(118, 253, 7);
        display: flex;
        justify-content: space-between;
    }

.menu {

}

.menu a {
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
.menu a:hover{
    color: rgb(220, 20, 60);
}
